/* src/layouts/DashboardLayout.css */

.dashboard-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-body {
  display: flex;
  flex-grow: 1;
}

/* Contenido principal */
.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 240px;
  transition: margin-left 0.3s ease;
}

.main-content.collapsed {
  margin-left: 60px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
